# Compiled Object files
*.slo
*.lo
*.o
*.cnf
build-*
out/
bin/
bin/*
source/app/Makefile
source/test/Makefile
source/benchmark/Makefile

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Generated objects
*.mk
source/minisat/simp/minisat


*.autosave
*~
*.user
