# Compiled Object files
*.slo
*.lo
*.o
*.cnf
build-*
out/
Makefile
bin/

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Generated objects
*.mk
minisat/simp/minisat


*.autosave
*~
*.user
